@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* 
==========================================================================
 = Start of ProfileBoard =
==========================================================================
*/
.profile-box{
    margin: 0;
    padding: 1rem;
    min-width: 31rem;
    min-height: 16rem;
    margin-top: 2.5rem;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0 0 1rem 0 #000000;
}
.profile-left-container{
    width: 25%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}
#profile-img{
    max-width: 7rem;
    max-height: 7rem;
    border-radius: 50%;
    border: 1px solid black;
}
.profile-right-container{
    width: 75%;
    height: 100%;
    padding-top: 1rem;
    margin-left: .5rem;
    border-radius: 0 1rem 1rem 0;
}

/* 
==========================================================================
 = Start of User information =
==========================================================================
*/
.profile-box-head{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.profile-box-head #display-name{
    margin: 0;
    font-size: 20px;
    color: #000000;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    font-family: 'Righteous';
}
.profile-right-container #join-date{
    margin: 0;
    color: #FF5733;
    width: fit-content;
    height: fit-content;
    font-family: 'PT Serif';
}
.profile-box-bio #username-tag{
    margin: 0;
    width: fit-content;
    font-size: 16px;
    color: #FF5733;
    margin-top: .25rem;
    font-family: 'Kanit';
    text-decoration: none;
}
.profile-box-bio p{
    margin: 0;
    font-size: 16px;
    margin-top: .5rem;
    max-width: 24rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-family: 'Varela Round';
    -webkit-box-orient: vertical;
}
.profile-info-box{
    width: 100%;
    height: 3.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    justify-content: space-around;
    background-color: #FF5733;
}
.profile-repos h5,
.profile-followers h5,
.profile-following h5{
    margin: 0;
    font-family: 'Varela Round';
}
.profile-repos p,
.profile-repos p a,
.profile-followers p,
.profile-following p{
    margin: 0;
    color: #000000;
    text-align: center;
    font-family: 'Kanit';
    text-decoration: none;
}

.profile-details-top{
    width: 100%;
    height: 2rem;
    padding: .5rem;
    justify-content: space-around;
}
.profile-details-top span{
    gap: .25rem;
    color: #000000;
    font-family: "Kanit";
}
#profile-detail-svg{
    height: auto;
    width: 1.25rem;
}
.profile-details-bottom{
    width: 100%;
    height: 2rem;
    padding: .5rem;
    padding-top: 0;
    justify-content: space-around;
}
.profile-details-bottom span{
    gap: .25rem;
    font-family: "Kanit";
}
.profile-details-bottom span a{
    color: #FF5733;
    text-decoration: none;
}

/* 
==========================================================================
 = Start of Media's =
==========================================================================
*/

@media only screen and (max-width: 500px){
    .profile-box{
        min-width: 20rem;
        flex-direction: column;
    }
    .profile-right-container{
        width: 100%;
        margin-left: 0;
    }
    .profile-left-container{
        width: unset;
    }
    .profile-box-bio p{
        max-width: 20rem;
    }
    .profile-details-top,
    .profile-details-bottom{
        gap: 4px;
        padding: 0;
        flex-direction: column;
    }
    .profile-details-top{
        margin-top: 12px;
    }
    .profile-details-bottom{
        margin-top: 22px;
    }
}